@tailwind base;
@tailwind components;
@tailwind utilities;

.siteContainer {
    max-width: 1575px;
    margin: 0 auto;
    padding: 0 1.8rem;
    align-items: center;
}
.logo {
    height: auto;
    width: 40%;
}
#desktopNav {
    display: none;
}

@media (min-width: 768px) {
    .logo {
        width: 65%;
    }
    #mobileNavButton {
        display: none;
    }
    #mobileNav {
        display: none;
    }
    #desktopNav {
        display: contents;
    }
}

/* START SLIDER HERE */
:root {
    --swiper-pagination-bullet-horizontal-gap: 16px
}
.swiper-pagination-bullet {
    border: solid white 3px;
    height: 18px;
    width: 18px;
    background: none;
    opacity: 100%;
    margin: 33rem;
}
.swiper-pagination-bullet-active {
    background: white; 
}

.text {
    display: block;
}

/* NEWSLETTER */
.inputColor::placeholder {
    color: white;
  }

/* FOOTER */
.border-opacity-footer {
    border-color: rgba(165, 165, 165, 0.163); /* Adjust color and opacity */
}